.link-green
{
    color: #009349 !important;
}

.carousel-item
{
    filter:brightness(0.3);
}

.titulo
{
    text-align: center;
}

.subrayado
{
    text-decoration: underline;
}

.form-text
{
    text-align: center;
    padding: 1px;
}

.col-form
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.size
{
    display: block;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box 1px;
    width: 412px;
}

.imput-nombre
{
    position: relative;
    left: 208px
}

.imput-apellido
{
    position: relative;
    left: 5px;
}

.footer
{
    background-color: #1C3A49;
    text-decoration: none;
    color: white;
}


.DescuentoEstudiante{
    border: 1px solid #007bff;
}

.DescuentoTrainee{
    border: 1px solid #17a2b8;
}

.DescuentoJunior{
    border: 1px solid #ffc107;
}

.alertaPaga{
    color: #b1d5fd ;
}
